@import url('https://fonts.googleapis.com/css2?family=Khand:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300;500&family=Yrsa&display=swap');
:root {
  --dani-primary-color: rgb(248, 248, 248);
  --dani-secondary-color: rgb(236, 236, 236);
  --dani-blue-color: rgb(20, 0, 92);
  --dani-blueOpacity-color: rgba(20, 0, 92, 0.527);
  --dani-border-color: rgb(87, 87, 87);
  --dani-xs: 10px;
  --dani-s: 15px;
  --dani-m: 30px;
  --dani-l: 40px;
  --dani-xl: 50px;
  --dani-xxl: 80px;
  --dani-full: 100%;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  width: var(--dani-full);
  background-color: var(--dani-primary-color);
}
h1 {
  font-size: var(--dani-xxl);
}
h2 {
  font-size: var(--dani-l);
}
h3 {
  font-size: var(--dani-s);
}
p {
  font-size: var(--dani-s);
}
span {
  font-size: var(--dani-xs);
}
a {
  text-decoration: none;
  color: var(--dani-border-color);
}
li {
  list-style: none;
}
svg {
  height: 20px;
}
.text_no_bold {
  font-weight: 300;
  font-size: 15px;
}
.spacing_top {
  margin-top: var(--dani-s);
}
